


.signIn_Container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px 40px;

    position: absolute;
    width: 397px;
    height: 450px;
    left: 39%;
    top: 276px;

    background: #FFFFFF;
    /* Grey / T4 */

    border: 2px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 16px;
}
.Login2{
    position: static;
    font-family: Inter;
    font-style: normal;
    font-size: 23px;
  
  }
  


.label_username{
    position: static;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #212429;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 5px 0px;
}

.username_input{
    /* input */

    position: static;
    width: 300px;
    height: 40px;
    left: 0;
    top: 24px;

    padding-left:13%;
    /* Inside auto layout */
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
    border-radius: 24px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
    font-size:15px;
   
}

.Lable_Password {
    /* Password */


    position: static;
    width: 57px;
    height:16px;
    left: 0px;
    top: 0px;

    /* Body 2 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    /* Black */
    color: #212429;

}

.passwordInput {
    position: static;
    width: 300px;
    height: 40px;
    left: 0px;
    top: 24px;
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
    border-radius: 24px;

    /* Inside auto layout */
    padding-left:68%;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
    font-size:15px;
}

.button_signIn {
    position: static;
    width: 300px;
    height: 48px;
    left: 0px;
    top: 0px;


    /* Inside auto layout */
    text-align: center;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;
    border: 1px solid white;

    background: rgba(49, 94, 255, 0.45);
    border-radius: 24px; /* H4 */

    /* identical to box height, or 125% */


    /* White */

    color: #FFFFFF;
}


.divALLINPUT {
    /* input-module */
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 317px;
    height: 160px;
    left: 40px;
    top: 150px;


/* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 10px 0px;
}
.divUserInput{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 300px;
    height: 64px;
    left: 0px;
    top: 0px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0px;
}
.divPasswordInput{
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 300px;
    height: 64px;
    left: 0px;
    top: 88px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0px;
}
.divButton {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 300px;
    height: 112px;
    left: 40px;
    top: 316px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin: 40px 0px;
}

.Label_Link_CreateAccount{

    white-space:nowrap;
    position: static;
    width: 105px;
    height: 16px;
    left: calc(50% - 105px/2 - 97.5px);
    top: calc(50% - 16px/2 + 16px);

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    display: flex;
    align-items: center;
    text-align: center;


    color: #212429;

    flex: none;
    order:0;
    flex-grow: 0;
    margin: 16px 0px;
}




.button_back1:hover {
    background-color: #f5f5f5;;
    color: white;
}

